h1 {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: clamp(1.4rem, 5vw, 2.5rem);
}

#weather-form {
    text-align: center;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    margin: 7vh auto 3vh auto;
    width: 90%;
    max-width: 400px;
    border: 3px solid black;
}

#location-input {
    padding: 7px;
    margin: 1rem 0;
    width: 80%;
    max-width: 100%;
    box-sizing: border-box;
    font-size: clamp(0.7rem, 2.5vw, 1.2rem);
}

#weather-result {
    margin-top: 1.5rem;
}